/* Medium Layout: 1280px. */

@media only screen and (min-width: 1200px) {}


@media only screen and (min-width: 992px) and (max-width: 1199px) {}


/* Medium Layout: 991px. */

@media only screen and (max-width: 991px) {
    .qr_area {
        margin-bottom: 30px;
        text-align: center;
    }

}


/*tablet layout*/

@media only screen and (max-width: 768px) {
    .input_area label {
        font-size: 20px;
    }



    .input_area button {
        right: 1px;
        width: 90px;
        height: 40px;
        font-size: 14px;
    }

    .input_area .btn {
        font-size: 14px;
    }

    .header .logo {
        text-align: center;
    }

    .bg_image img {
        width: 100%;
    }

    footer,
    footer ul {
        text-align: center;
    }

    .leb_1 {
        max-width: 100%;
    }
    .modal_dialog-content {
        width: 35%;
    }
}



/* Wide Mobile Layout: 480px+. */

@media only screen and (min-width: 480px) and (max-width: 768px) {}

/* Extra Small Mobile Layout: 480px. */

@media only screen and (max-width: 567px) {
    .form-group {
        position: relative;
    }
    .tooltip_style .tooltiptext1 {
        width: 100px;
        right: 0px;
    }
    .tooltip_style .tooltiptext {
        width: 100px;
        color: #fff;
        font-size: 10px;
        bottom: 120%;
        margin-left: -60px;
    }
    .logo img {
        height: 30px;
    }
    .input_area label {
        font-size: 16px;
    }
    .qr_area {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .general_form i {
        top: 48px;
    }
    .input_area input {
        padding-left: 30px;
    }
    .qr_area .text h2 {
        font-size: 20px;
        margin-top: 10px;
    }
    .dummy_header{
        font-size: 20px;
    }
    .social_icon2 i {
        font-size: 30px;
        margin-left: 30px;
        color: #fff;
    }
    .social_icon2 {
        height: 30vh;
    }
    .form-group {
        margin-bottom: 5px;
    }
    .modal_dialog-content {
        width: 65%;
    }







}

@media only screen and (max-height: 400px) {}